@import "font.less";
@import "counter.less";
/** For screen preview **/
@media screen {
    article {
        width: 100%;
        max-width: 960px;
        margin: 5px auto;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
}
article {
    font-size: 12pt;
    font-family: @font-family-base;
    hyphens: auto;             /* turn on hyphenation */
    text-align: justify;       /* and justification */
    &.print-two-column {
        columns: 2;
        column-gap: 0.25in;
    }
    section {
        &.lead {
            column-span: all;
            text-align: center;
            margin: 2em 0;
            font-style: italic;
            h1 {
                font-style: normal;
            }
            // TODO authors support
            // TODO abstract support
        }
    }
}
