<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    {% include "style.css" %}
    {% for style in styleIncludes if styleIncludes else [] %}
    {% include style %}
    {% endfor %}
    </style>
</head>
<body>
    <h1 id="nigeru">逃げる</h1>
    {{ body }}
    <script>
    </script>
</body>
</html>